[user]
	name = jerensl
	email = 54782057+jerensl@users.noreply.github.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[ghq]
  root = ~/repos
  root = ~/go/src
[core]
	editor = /usr/bin/vim
	pager = cat
[pull]
	rebase = false
[rebase]
	autoStash = true
